# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.CircusTrein.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Kane\OneDrive - Office 365 Fontys\Software\Semester 2\CircusTrein\.idea\.idea.CircusTrein\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
